@import 'styles';

.UpdateNote {
    @include gap(all sm);
    @include width(xl, component);
    max-width: 100%;

    .Header {
        @include flex(row, center, center);
        @include font-weight(lg);
        @include gap(all sm);
    }

    & > form {
        @include flex;
        @include gap(all sm);
        flex-grow: 1;
        overflow: hidden;
    }

    .Content {
        @include flex;
        @include gap(all sm);
        @include padding(all sm);
    }

    .Actions {
        @include gap(all sm);
        @include padding(x sm);
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        & > button {
            overflow: hidden;
        }
    }
}
